[submodule "qwen2.5-VL-inference-openai"]
	path = qwen2.5-VL-inference-openai
	url = github.com:bjodah/qwen2.5-VL-inference-openai
        branch = adapt-paths-for-my-machine
[submodule "openai-proxy"]
	path = openai-proxy
	url = https://github.com/bjodah/openai-proxy
	branch = retrieve-logs-endpoint
[submodule "cot_proxy"]
	path = cot_proxy
	url = github.com:bjodah/cot_proxy
        branch = yaml-config-file
